{% extends 'main.html' %}
{% block content %}

<h1>les 5 WHYS</h1>

<div class="row">
    <div class="col-md-3">
		<div class="card card-body">
			<h5>WHY1</h5>
			{% for why in why%}
            <h6>{{why.why1}}</h6>
			{% endfor%}

		</div>

	</div>

     <div class="col-md-3">
		<div class="card card-body">
            <h5>WHY2</h5>
			{% for why in why%}
            <h6>{{why.why2}}</h6>
			{% endfor%}

		</div>

	</div>

     <div class="col-md-3" >
		<div class="card card-body">
            <h5>WHY3</h5>
			{% for why in why%}
            <h6>{{why.why3}}</h6>
			{% endfor%}

		</div>


	</div>

     <div class="col-md-3">
		<div class="card card-body">
            <h5>WHY4</h5>
			{% for why in why%}
            <h6>{{why.why4}}</h6>
			{% endfor%}

		</div>

	</div>

	<div class="col-md-3">
		<div class="card card-body">
            <h5>WHY5</h5>
			{% for why in why%}
            <h6>{{why.why5}}</h6>
			{% endfor%}

		</div>

	</div>




    </div>

{% endblock content%}