{%load static%}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!--<a class="navbar-brand" href="#">HSD</a>-->
  <!--<img src="{% static 'images/TE.png' %}">-->


  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'accueil' %}">Acceuil</a>
      </li>
         <li class="nav-item active">
        <a class="nav-link" href="{% url 'mac' %}">Production</a>
      </li>
         <li class="nav-item active">
        <a class="nav-link" href="{% url 'process' %}">Analyse</a>
      </li>
         <li class="nav-item active">
        <a class="nav-link" href="{% url 'reac' %}">Mode de réaction</a>
      </li>
         <li class="nav-item active">
        <a class="nav-link" href="{% url 'option' %}">Options_affichage</a>
      </li>
    </ul>
  </div>
  <span>Salut, {{request.user}}</span>
  <span><a href="{% url 'quitter' %}">Déconnecter</a></span>
</nav>