{% extends 'main.html' %}
{% block content %}

<br>
<div class="row">
	<div class="col-md-5">
		<h5>liste des Micro_arrets</h5>
		<hr>
		<div class="card card-body">
			<table class="table table-sm" border="1" >
				<tr>
                    <th>Fréquence</th>
                    <th>station</th>
					<th>Date</th>
					<th>Heure</th>



				</tr>
                {% for micro in micro %}
                <tr>
                    <th>{{micro.frequence}}</th>
                    <th>{{micro.id_station}}</th>
					<th>{{micro.Date}}</th>
					<th>{{micro.heure}}</th>
                </tr>
                {% endfor %}


			</table>
			    <div class="mt-4">
                <form>
  <input type="button" value="Retour" class="bg-gray-900 p-3 cursor-pointer w-full" onclick="history.go(-1)">
</form>
      </div>
		</div>
	</div>


</div>


{% endblock content%}